 body{
    margin: 0;
    background-color: yellow;
    min-width: 320px;
    font-family: "Raleway-Regular";
    font-size: 18px;
}
h2{
    font-family: "Raleway-Bold-Italic";
}
input{
    background-color: black;
    color: aliceblue;
    border: none;
    height: 30px;
    width: 150px;
    text-transform: uppercase; 
    margin: 10px;   
}
#result{
    font-size: 20px;
    text-transform: uppercase; 
    font-family: Raleway-Bold-Italic;
}
button{
    border: none;
    margin: 20px;
    padding: 10px 20px ;
    text-transform: uppercase; 
    background: #000000;
    font-size: 16px;
    font-family: "Roboto-Regular";
    color: rgb(255, 255, 255); 
}   
.board{
    width:30vw;
    height:30vw;
    background: red; 
    margin: 5vw;
}
.whiteSquare{
    width: 10%;
    height:  10%;
    background: white;
    float: left;  
}
.blackSquare{
    width: 10%;
    height: 10%;
    background: black;
    float: left;| 
}
.letterNumberSquare{
    text-align: center;
    width: 10%;
    height:  10%;
    background: transparent;
    float: left;
}
.basketImg {
    height: 5vw;
    padding: 1vw;
    float: left;
}
.basketStatusText{
    padding: 2.5vw 2.5vw;
}
