@font-face {
    font-family: "Raleway-Regular";
    src: url("Fonts/Raleway-Regular.ttf")
}
@font-face {
    font-family: "Raleway-ExtraBold";
    src: url("Fonts/Raleway-ExtraBold.ttf")
}
@font-face {
    font-family: "Raleway-Bold-Italic";
    src: url("Fonts/Raleway-Bold-Italic.ttf")
}
@font-face {
    font-family: "Raleway-Bold";
    src: url("Fonts/Raleway-Bold.ttf")
}
@font-face {
    font-family: "Raleway-Black";
    src: url("Fonts/Raleway-Black.ttf")
}
@font-face {
    font-family: "Raleway-Black-Italic";
    src: url("Fonts/Raleway-Black-Italic.ttf")
}
@font-face {
    font-family: "Roboto-Black-Italic";
    src: url("Fonts/Roboto-Black-Italic.ttf")
}
@font-face {
    font-family: "Roboto-Black";
    src: url("Fonts/Roboto-Black.ttf")
}
@font-face {
    font-family: "Roboto-Bold";
    src: url("Fonts/Roboto-Bold.ttf")
}
@font-face {
    font-family: "Roboto-Regular";
    src: url("Fonts/Roboto-Regular.ttf")
}
body{
    margin: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c3e0e6+0,44a5b9+100 */
    background: #c3e0e6; /* Old browsers */
    background: -moz-linear-gradient(top, #c3e0e6 0%, #44a5b9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #c3e0e6 0%,#44a5b9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #c3e0e6 0%,#44a5b9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3e0e6', endColorstr='#44a5b9',GradientType=0 ); /* IE6-9 */
    min-width: 320px;
}
.header {
    background: url(Images/indexBack.jpg) center center;/*Располагаем картинку по центру*/
    background-size: cover; /*Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока*/
    height: 700px;
    position: relative;
}
.container{
    position: relative;
    padding: 0;
}
.xsNavigation{
    padding: 0;
    margin: 0 -5px;
    border: none;
    background: #dbeff0;
    z-index: 1;
}
.navbar-brand.xsLogo{
    font-size: 18px;
    font-family: "Raleway-Bold",sans-serif;
    color: #1f191a;
    text-transform: uppercase;
    background: url(Images/xsLogo.png) no-repeat 20px 9px;
    background-size: 15%;
    padding-left: 55px;
}
.nav.navbar-nav{
    padding:0;
    margin: 0;
}
.nav.navbar-nav.xsNavItem a{
    margin: 0 -15px;
    font-size: 15px;
    font-family: "Raleway-Bold",sans-serif;
    color: black;
    text-transform:uppercase;
}
.nav.navbar-nav.xsNavItem a:hover{
    color: white; 
    background: #94c6cd;
}
.button_size{
    width: 44px;
    height: 40px;
   
}
.surfhouse_logo{
    position: absolute;
    left: 70px;
    top: 24px;
    width: 125px;
    height: 111px;
}
.social_net{
    position: absolute;
    right: 35px;
    top:30px;
    color: #ffffff;
}
.social_net i{
    display: inline-block;
    padding-right: 14px;    
}
.banner_bg_title{
    position: absolute;
    width: 370px;
    height: 320px;
    right: 80px;
    top: 218px; 
}
.title_title {
    font-size: 48px;
    font-family: "Raleway-ExtraBold", sans-serif;
    color: rgb(255, 245, 31);
    text-transform: uppercase;
    line-height: 0.708;
    text-align: left;
    margin: 25px 8px 11px 48px; 
}
.title_text{
    font-size: 18px;
    font-family: "Raleway-Regular", sans-serif;
    color: rgb(255, 245, 31);
    line-height: 1.33;
    text-align: left;
    margin: 0px 8px 63px 48px;
}
.title_button{
    font-size: 14px;
    font-family: "Raleway-ExtraBold",sans-serif;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 245, 31);
    width: 124px;
    height: 49px;
    text-transform: uppercase;
    margin: 0px 8px 0px 48px;
}
.banner_bg_welcome {
    background-color: rgb(255, 245, 31);
    position: absolute;
    left: 0;
    top: 336px;
    width: 270px;
    height: 300px;
}
.welcome_title{
    margin: 81px 30px 25px 25px;
    font-size: 30px;
    font-family: "Raleway-Bold",sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    text-transform: uppercase;
    text-align: left;
    line-height: 1;
}
.welcome_text{
    text-align: justify;
    margin: 0px 30px 30px 25px;
    font-size: 18px;
    font-family: "Raleway-Bold-Italic",sans-serif;
    color: rgb(51, 51, 51);
    font-weight: bold;
    overflow-wrap: break-word;
    line-height: 0.778;
}
@media (max-width:767px){
    .social_net{
        position: absolute;
        top:80px;
        right: 20px;
    }
    .banner_bg_title {
        height: auto;
        width: 100%;
        left: 0;
        top: 170px;
    }
    .banner_bg_welcome {
        clear: both;
        width: 100%;
        height: auto;
        position: absolute;
        top: 550px;
    }
}
@media (min-width:447px) and (max-width:767px){
    .header{
        height: 744px;
    }
}
@media (min-width:336px) and (max-width:446px){
    .header{
        height: 787px;
    }
}
@media (min-width:0px) and (max-width:335px){
    .header{
        height: 800px;
    }
}
.main_block.container{
    margin-top: -18px;
}
.left_menu_item:first-child{
    font-size: 14px;
    font-family: "Roboto-Bold", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    padding: 9px 0;
    width: 100%;
    height: 60px;
    background-color: rgb(51, 51, 51);
}
.left_menu_item_block{
    height: auto; 
    position: static;
    top:65px;
    width: 100%;
    background-color: rgb(38, 210, 252);   
    padding-bottom: 20px;
    margin-bottom: 32px;
    
}
.left_menu_item{
    position: relative;
    top:0;
    height: 42px;
    font-size: 14px;
    font-family: "Roboto-Bold", sans-serif;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
div.left_menu_item:hover{
    background-color: #333333;
    color: #ffffff;
}
.left_menu_item p{
    margin: 0;
    padding: 14px 0px 14px 30px;
}
.left_menu_open_block{
    position: relative;
    background: url(Images/store.jpg) no-repeat center center; 
    background-size: cover;
    height: 300px;
    border: 10px solid #ffffff;
    padding: 0;
}
.left_menu_open_block p{
    font-size: 36px;
    font-family: "Raleway-ExtraBold", sans-serif;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    line-height: 1;
    text-align: left;
    position: absolute;
    width: 120px;
    top:140px;
    right:0px;     
}   
@media (max-width:767px){
    .left_menu_open_block{
        margin: 33px 15px 15px 15px;
    }
}
.productGroupTitle {
    background: #f8f8f8;
    padding: 25px 0 25px 25px;
    margin: 0 0 30px 0px; 
    font-size: 22px;
    font-family: "Raleway-Bold-Italic",sans-serif;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
}
@media (max-width:767px){
    .productGroupTitle{
        margin: 15px;
    }
}
.item{
    margin-bottom: 30px;
    margin-left: 0;
    box-sizing: border-box;
    border: 10px solid white;
    background: white;
    min-height: 315px;  
}
@media (min-width:992px) and (max-width:1199px){
    #hidden_brand{
        display: none;
    }
}
@media (max-width:767px){
    .item{
        margin: 15px;
    }
}
.item_image img{
    width: 100%;
    padding-bottom: 23px;
    position: relative;
}
.itemNamePrice{
    background: #ffffff;
    position: relative;
    display: flex;
    justify-content: space-between;
   
    min-height: 50px;
}
.product_name {
    font-size: 14px;
    color: rgb(51, 51, 51);
    text-transform:capitalize;
    line-height: 1.286;
    text-align: left;
    font-family: "Roboto-Black-Italic", sans-serif;
}
.price{
    font-family: "Roboto-Black-Italic", sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    color: rgb(51, 51, 51);
    position: relative;
    margin: 2px 0;   
}
.price p{
    margin: 0;
}
.previous_price {
    font-family: "Roboto-Black-Italic", sans-serif;
    font-size: 14px;
    color: rgb(226, 70, 2);
    text-decoration: line-through;
}
@media (min-width:400px) and (max-width:539px){
    .product_name {
        font-size: 20px;   
    }
    .price{
        font-size: 24px;
    }
    .previous_price{
        font-size: 20px;
    }
}
.brand_box .container {
    background:#ffffff;
    min-height: 160px;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    align-items: center;
    padding:10px;
    
}
.container:after{
    content:none !important;
}
.container:before{
    content:none !important;
}
.brand_box img{
    width: 116px;
    height: 33px
}
.insta_feed .container{
    background:#eaeaea;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.insta_feed p{
    font-size: 22px;
    font-family: "Raleway-Black-Italic",sans-serif;
    color: rgb(51, 51, 51);
    font-style: italic;
    font-weight: bold;
}
.insta_feed p span{
    font-size: 28px;
}
@media (max-width:390px){
    .insta_feed p span{
    font-size: 22px;
    }
    .insta_feed p{
    font-size: 18px;
    }
}
.feed_photo .container{
    background:#eaeaea;
    height: auto;
    padding-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.feed_photo img{
    margin: 0;
    width: 170px;
    height: 170px;
    border: 8px solid white;
    box-sizing:content-box; 
}
@media (max-width:1199px){
    .feed_photo .container{
        flex-direction: row;
        justify-content: center;
    }
    .feed_photo img{
        margin: 5px;
    }
    .brand_box .container {
        flex-direction: row;
        justify-content: center;
    }
    .brand_box img{
        margin: 5px;
    }
}
.social_feed .container{
    height: 153px;
    color: #ffffff;
    display: flex;
    font-size: 50px;
    text-align: center;
}
.facebook{
    background: #3b5997;
    width: calc(100%/3);
    padding-top: 50px;
}
.twitter{
    background: #3fccfd;
    width: calc(100%/3);
    padding-top: 50px    
}
.pininterest{
    background: #cb2027;
    width: calc(100%/3);
    padding-top: 50px;   
}
.footer{
    background: #373737;
    min-height: 310px;
    padding-top: 60px;
}
.footer_block{
    padding-left: 25px;
    min-height: 199px;    
}
.footer_block_title{
    font-size: 18px;
    font-family: "Raleway-Bold",sans-serif;
    color: rgb(255, 255, 255);
    text-align: left;
    margin-bottom: 20px;
    padding-top: 10px;
    
}
.footer_links  ul{
    margin:  0;
    padding: 0;
}
.footer_links li{ 
    list-style-type: none;
    line-height: 1.5;
    font-size: 12px;
    font-family: "Roboto-Regular",sans-serif;
    color: rgb(255, 255, 255); 
}
@media (max-width:413px){
    .footer_block_title{
        height: 36px;  
        margin-bottom: 20px;
    }
}
.footer_block p{
    font-size: 12px;
    font-family: "Roboto-Regular",sans-serif;
    color: rgb(248, 248, 248);
    line-height: 1;  
}
.payment_methods {
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    max-width: 270px;
}
input{
    background-color: rgb(255, 245, 31);
    border: none;
    height: 30px;
    width: 150px;
    text-transform: uppercase; 
    float: left;
    margin-bottom: 45px;
}
button{
    border: none;
    height: 30px;
    width: 70px;
    float: left;
    text-transform: uppercase; 
    background: #000000;
    font-size: 12px;
    font-family: "Roboto-Regular";
    color: rgb(255, 255, 255);      
}
.email_view_footer{  
  color: rgb(250, 239, 3);
}
.copyright{
    min-height: 46px;
    background: #333333;
}
.copyright .container{
    display: flex;
    justify-content: space-between;
    color: #e1e1e1;
    font-size: 12px;
    font-family: "Roboto-Regular",sans-serif;
    padding-top: 17px;
}
.social_links i{
    padding-right:  10px;     
}
@media (max-width:593px){
    .copyright .container{
        display: block;
        text-align: center;
        padding-bottom: 17px;
    }
}
.item.new_topic:after{
    content: "NEW";
    background-image: url(Images/corner_red.png);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 15px;
    color:  rgb(255, 255, 255);
    font-size: 10px;
    line-height: 3.2em;
    text-align: center;
    padding-left: 16px;
    font-family: "Roboto-Regular",sans-serif; 
}
.item.hot_topic:after{
    content: "HOT";
    background-image: url(Images/corner_yellow.png);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 0;
    right: 15px;
    color:  black;
    font-size: 10px;
    line-height: 3.2em;
    text-align: center;
    padding-left: 16px;
    font-family: "Roboto-Bold",sans-serif;
    font-weight: bold; 
}
@media (min-width:540px) and (max-width:767px){
    .item{
       width: calc(50% - 30px);
        float: left;
    }
    .item.new_topic:after{
        right: calc(50% + 15px);
        top:15px;      
    }  
    .item.hot_topic:after{
        right: 30px;
        top:15px;      
    }   
}
@media (max-width:540px){
    
    .item.new_topic:after{
            right: 30px;
    }  
    .item.hot_topic:after{
             right: 30px;
    }   
}
